//- @example: $templateCache.get "todo/new-task.html"
div.modal
  ion-header-bar.bar-secondary
    h1.title(translate) New task

    button.button.button-clear.button-positive(
      ng-click="closeNewTask()",
      translate) Cancel

  ion-content
    form(ng-submit="createTask(task)")
      div.list
        label.item.item-input
          input(type="text", placeholder="{{ 'What needs to be done?' | translate }}", ng-model="task.title")
      div.padding
        button.button.button-block.button-positive(
          type="submit",
          translate) Create task

