//- @example: $templateCache.get "todo/example-todo.html"
ion-side-menus
  ion-side-menu-content
    ion-header-bar.bar-dark.bar
      button.button.button-icon(ng-click="toggleProjects()", title="{{ 'Toggle projects' | translate }}")
        i.icon.ion-navicon
      h1.title {{ activeProject.title }} ({{ activeProject.tasks.length }})
      
      button.button.button-icon(ng-click="removeProjects()", title="{{ 'Remove projects' | translate }}")
        i.icon.ion-ios7-trash-outline
      button.button.button-icon(ng-click="newTask()", title="{{ 'New task' | translate }}")
        i.icon.ion-compose

    ion-content
      ion-list
        ion-item(ng-repeat="task in activeProject.tasks")
          | {{ task.title }}

  ion-side-menu(side="left")
    ion-header-bar.bar-dark
      h1.title(translate) Projects ({{ projects.length }})
      button.button.button-icon.ion-plus(ng-click="newProject()", title="{{ 'New project' | translate }}")

    ion-content(scroll="false")
      ion-list
        ion-item(
          ng-repeat="project in projects", 
          ng-class="{active: activeProject === project}",
          ng-click="selectProject(project, $index)")
          | {{ project.title }}