@import "theme_config";
@import "_partial";

// ns: namespace
$ns: 'todo';
$base: todo;

@function img-url($image){
  @return url("../img/#{$base}/#{$image}");
}

$local-img: img-url("banana-leaf.jpg");
$global-img: url("../img/banana-large.jpg");

.#{$ns}-example {

  background: $local-img no-repeat;
  background-size: auto 100%;

  input[type="text"] {
    border: 1px solid $color;
    padding: 10px;
    border-radius: 2px;
  }

  h2 {
    color: $light;
    text-shadow: 2px 2px $dark;
  }
}

.btn-#{$ns} {
  // @include btn;
  
  @extend %btn;
  background: lighten($color, 10%);
  foo:bar;

  yellow: $yellow;
  green: $yellow;
}