@import "theme_config";
@import "_partial";

$prefix: 'todo';
$base: todo;
$local-img: url("../img/todo/banana-leaf.jpg");
$global-img: url("../img/banana-large.jpg");

@function image-url($image){
  @return url("../img/#{$base}/#{$image}");
}

.#{$prefix}-example {

  background: image-url("banana-leaf.jpg") no-repeat;
  background-size: auto 100%;

  input[type="text"] {
    border: 1px solid $color;
    padding: 10px;
    border-radius: 2px;
  }
}

.btn-#{$prefix} {
  // @include btn;
  
  @extend %btn;
  background: lighten($color, 10%);
  foo:bar;

  yellow: $yellow;
  green: $yellow;
}