!!!
html(lang="en")
  head
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title This is an AngularJS SPA (single page app)

    each stylesheet in imports.css
      link(rel="stylesheet", href=stylesheet)

  body
    h1 AngularJS SPA
    p AngularJS is a javascript framework built by Google.

    div.todo-example(ng-include="'todo/todo-example.html'")

  each script in imports.js
    script(src=script, type="text/javascript")

  if isDev
    //- change localhost to current system ip address
    script(src="//localhost:35729/livereload.js")
  else
    //- analytics