doctype
html(lang="en", ng-class="Class.html")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title QB &mdash; QuoteBuilder&trade; &#124; by @tijhaart

    each stylesheet in imports.css
      link(rel="stylesheet", href="/#{stylesheet}")

  body(ng-class="Class.body")

    div(ng-include="'app/main.html'")

  each script in imports.js
    script(src="/#{script}", type="text/javascript")

  if isDev
    //- change localhost to current system ip address for livereloading
    //- on other devices within the same network
    script(src="//localhost:35729/livereload.js")
  else if isHybridBuild
    script(src="cordova.js")
  else
    //- analytics