@import 
  "../base/config",
  "client/src/vendor/ionic/scss/_variables"
;

$font-family: 'sans-serif';
$color: $light;
$line-height: 1.4em;

%btn {
  border: 1px solid $color;
  height: 1px;
  // width: 1px;
}