//- @example: $templateCache.get "app/err/404.html"
h1 Sorry, couldn't find the page

p Here's what you can do:

ul
	li Do a
	li Or do b
	li Or go back where you came from <a href="/app">back to [page]</a>
	li Eventually you can do C